<h1>LIST VIEW</h1>
<div class="container">
  <div class="row">
    <div class="col-4">
      IMAGE
    </div>
    <div class="col-2">
      ID
    </div>
    <div class="col-4">
      EMAIL
    </div>
    <!-- <div class="col-2">
      F-NAME
    </div>
    <div class="col-2">
      L_NAME
    </div> -->
    <div class="col-2"></div>
  </div>
  <div class="row" *ngFor="let student of studentData">
    <div class="col-4">
      <img [src]="student.avatar" />
    </div>
    <div class="col-2">
      {{ student.id }}
    </div>
    <div class="col-4">
      {{ student.email }}
    </div>
    <!-- <div class="col-2">
      {{ student.first_name }}
    </div>
    <div class="col-2">
      {{ student.last_name }}
    </div> -->
    <div class="col-2">
      <button (click)="edit(student.id)">View</button>
    </div>
  </div>
</div>
