<h1>DETAIL VIEW</h1>
<div class="container">
  <div class="row">
    <div class="col-1">
      ID
    </div>
    <div class="col-2">
      NAME
    </div>
    <div class="col-4">
      EMAIL
    </div>
    <div class="col-2">
      COUNTRY
    </div>
    <div class="col-2">
      GENDER
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-1">
      {{ student.id }}
    </div>
    <div class="col-2">
      {{ student.name }}
    </div>
    <div class="col-4">
      {{ student.email }}
    </div>
    <div class="col-2">
      {{ student.country }}
    </div>
    <div class="col-2">
      {{ student.gender }}
    </div>
    <div class="col-1">
      {{ student.status }}
    </div>
  </div>
</div>
