<div
  style="
    width: 500px;
    align-items: center;
    margin-left: 500px;
    margin-top: 200px;
  "
>
  <form [formGroup]="studentForm">
    {{ message }}
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input
          type="text"
          formControlName="name"
          class="form-control"
          id="inputEmail3"
          placeholder="Username"
          autocomplete="off"
        />
        <p
          class="error"
          *ngIf="
            studentForm.get('name').hasError('required') &&
            studentForm.get('name').touched
          "
        >
          Username is required
        </p>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="inputEmail3"
          placeholder="Password"
          autocomplete="off"
        />
        <p
          class="error"
          *ngIf="
            studentForm.get('password').hasError('required') &&
            studentForm.get('password').touched
          "
        >
          Password is required
        </p>
        <p
          class="error"
          *ngIf="
            studentForm.get('password').hasError('minlength') &&
            studentForm.get('password').touched
          "
        >
          Minimum length should be 6!
        </p>
      </div>
    </div>
    <!-- <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Country</label>
      <div class="col-sm-10">
        <select
          formControlName="country"
          class="form-control"
          aria-placeholder="Country"
        >
          <option *ngFor="let data of country" value="{{ data.description }}">{{
            data.description
          }}</option>
        </select>
        <p
          class="error"
          *ngIf="
            studentForm.get('country').hasError('required') &&
            studentForm.get('country').touched
          "
        >
          Country is required
        </p>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="gender"
              id="gridRadios1"
              value="Male"
              checked
            />
            <label class="form-check-label" for="gridRadios1">
              Male
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="gender"
              id="gridRadios2"
              value="Female"
            />
            <label class="form-check-label" for="gridRadios2">
              Female
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <div class="col-sm-2">Active</div>
      <div class="col-sm-10">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="status"
            id="gridCheck1"
          />
          <label class="form-check-label" for="gridCheck1"> </label>
        </div>
      </div>
    </div> -->
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="button" (click)="submit()" class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
